@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
  --font: #e5e5e5;
  --white: #ffffff;
  --drak-blue: #0a3871;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter' shadows;
  background: var(--white);
}

::selection{
  background: var(--drak-blue);
  color: var(--white);
}

body{
  height: 100%;
}

img{
  max-width: 100%;
}

header{
  position: absolute;
  margin: 40px, 0px, 0px, 40px;
}

header.logo{
  display: flex;
  align-items: flex-start;
  width: 120px;
  height: 48px;
}

main{
  display: flex;
  flex-direction: row;
  background: url(./img/portada.png) no-repeat;
  background-size: cover;
  background-position: center;

}